{% extends 'base.html.twig' %}

{% block title %}Profil de  {{ app.user.pseudo }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


        <div class="grid text-center">
                <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
                <div class="g-col-6 g-col-md-4">  Prénom : {{app.user.firstname}}
                        <br />
                        Nom : {{ app.user.name }}
                        <br />
                        Téléphone : {{ app.user.phoneNumber }}
                        <br />
                        Email : {{ app.user.email }}
                        <br />
                        Campus : {{ app.user.campus.nom }}
                        <br />

                        <button onclick="window.location.href = '{{ path('app_home') }}';">Retour</button></div>
                <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
        </div>

<div class="example-wrapper">
    <h1>{{ app.user.pseudo}} </h1>
</div>

<div class="container">
        <div class="row">
                <article class="col-md-4">
                        <img src="URL source" alt="photo de profil">
                </article>

                <article class="col-md-4">
                        Prénom : {{app.user.firstname}}
                        <br />
                        Nom : {{ app.user.name }}
                        <br />
                        Téléphone : {{ app.user.phoneNumber }}
                        <br />
                        Email : {{ app.user.email }}
                        <br />
                        Campus : {{ app.user.campus.nom }}
                        <br />

        <button onclick="window.location.href = '{{ path('app_home') }}';">Retour</button>

                </article>

                <article class="col-md-4">

                </article>
        </div>
</div>



{% endblock %}
