{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div class="container">
        <div class="row justify-content-center custom-line">
            <div class="col-6">
                {{ form_start(form) }}
                {{ form_widget(form)}}
                <a href="{{ path('app_home') }}" class="btn btn-secondary">Annuler</a>
                {{ form_end(form) }}

                {% for flashMessage in app.flashes('success') %}
                    <div class="alert alert-success mt-3">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block title %}

{% endblock %}

